@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


html,
body {
    background-color: #000000;

}

.title,
.subtitle {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.throughput {
    color: #ffffff;
    text-align: end;
    font-family: 'Roboto', sans-serif;
    margin-right: 25px;
    margin-top: -50px;
}

.subtitle {
    padding-bottom: 10px;
    border-bottom: 1px solid #9b9b9b;
}


.header {
    height: 100px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input, label {
    display:flex;
    flex-direction:column;
}

.inputfield {
    position: relative;
    font-family: inherit;
    width: 100px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
 
    background: transparent;
    transition: border-color 0.2s;
}

.inputfield:placeholder-shown~ .labels {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.inputfield::placeholder {
    color: transparent;
}

.labels {
    position: relative;
    top: 0;
    transition: 0.2s;
    font-size: 1.3rem;
    color: #9b9b9b;
}

.inputfield:focus {
    padding-bottom: 6px;

    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.inputfield:focus ~  .labels {
    position: relative;
    top: 0;
    transition: 0.2s;
    font-size: 1.3rem;
    color: #11998e;
    font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.testSharable {
    color: #fff;
}

.history2 {
    height:54vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #9b9b9b;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(75, 74, 74); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(109, 109, 109); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }

.reset {
    margin-top: 50px;
}
